[Unit]
Description=Run CountDown Job

[Service]
Type=simple
ExecStart=/usr/share/harbour-countdown/qml/py/harbour-countdown.sh

[Install]
WantedBy=multi-user.target
